#localist {
    text-align: center;
    width: 100%;
}

#weatherlink {
    text-align: center;
    width: 100%;
}

#weatherlink {
    width: 100px;
    height: 100px;
}

.tempUnit {
    content: "\2103";
    align-items: flex-start;
}

#tempunitchoose {
    color: grey;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#tempunitchoose thead {
    width: 100%;
}

#tempunitchoose thead th {
    /* width: 768px; */
    width: 100%;
}

#unit {
    text-align: start;
}

#addlocal {
    text-align: end;
}

#add {
    text-align: end;
    align-items: flex-end;
}

#addlocation {
    width: 20px;
    height: 20px;
}

#weatherList {
    width: 100%;
    color: grey;
    font-size: 20px;
}

#weatherList th {
    width: 640px;
}