#search {
    text-align: center;
    width: 100%;
    color: grey;
}

#searchead {
    width: 100%;
    text-align: center;
    color: gray;
}

#mysearch {
     text-align: left;
     color: gray;
}